@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-size: normal;
    font-weight: normal;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Raleway', serif;
}
/*DEBUT HEADER*/
header
{
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}
/*DEBUT LOGO NAV BAR*/
#logo_nav
{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.reservia_logo
{
    margin-top: 35px;
    margin-bottom: 20px;
}
.nav_bar ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.nav_bar a
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 40px 35px 0 35px;
}
.nav_bar a:hover
{
    border-top: #0065FC solid 2px;
    color: #0065FC;
}
nav span
{
    color: #0065FC;
    font-weight: bold;
}
/* FIN LOGO NAV BAR*/
/* DEBUT SLOGANS*/
#slogans
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#slogans h1
{
    font-size: 2em;
}
#slogans p
{
    padding-top: 10px;
    font-size: 1em;
    margin-left: 5px;
}
/*FIN SLOGANS*/
/*DEBUT BAR DE RECHERCHE*/
#search_city
{
    display: flex;
    position: relative;
    left: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}
#icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
    background: #F2F2F2;
}
#search_bar
{
    display: flex;
    justify-self: center;
    align-items: center;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    height: 48px;
}
#search_bar input
{
    border: none;
    height: 48px;
    width: 200px;
    padding-left: 10px;
    padding-right: 3px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Raleway';
    color: black;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
}

button
{
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background: #0065FC;
    border-radius: 0 10px 10px 0;
    border-color: #0065FC;
}
button:hover
{
   transform: scale(1.1);
}
button a
{
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    font-family: 'Raleway';
}
/*FIN SEARCH BAR*/
/*DEBUT FILTRES*/
#filter
{
    display: flex;
    position: relative;
    margin-top: 50px;
}
#filters_type
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#filter h3
{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
#filter span
{
    font-weight: bold;
}
#filter a
{
text-decoration: none;
}
#economique
{
    display: flex;
    position: relative;
    border-top: #F2F2F2 solid 2px;
    border-bottom: #F2F2F2 solid 2px;
    border-right: #F2F2F2 solid 2px;
    border-radius: 50px;
    margin-left: 25px;
}
#economique span
{
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}
#economique i
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #DEEBFF;
}
#economique a:focus
{
    border: #0065FC solid 2px;
    border-radius: 50px;
}
#familial
{
    display: flex;
    position: relative;
    border-top: #F2F2F2 solid 2px;
    border-bottom: #F2F2F2 solid 2px;
    border-right: #F2F2F2 solid 2px;
    border-radius: 50px;
    margin-left: 25px;
}
#familial span
{
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}
#familial i
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #DEEBFF;
}
#romantique
{
    display: flex;
    position: relative;
    border-top: #F2F2F2 solid 2px;
    border-bottom: #F2F2F2 solid 2px;
    border-right: #F2F2F2 solid 2px;
    border-radius: 50px;
    margin-left: 25px;
}
#romantique span
{
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}
#romantique i
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #DEEBFF;
}
#animaux
{
    display: flex;
    position: relative;
    border-top: #F2F2F2 solid 2px;
    border-bottom: #F2F2F2 solid 2px;
    border-right: #F2F2F2 solid 2px;
    border-radius: 50px;
    margin-left: 25px;
}
#animaux span
{
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}
#animaux i
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #DEEBFF;
}
/*FIN FILTRES*/
#logements
{
    display: flex;
    margin-top: 20px;
}
#logements p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    margin-left: 10px;
}
#logements i
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #0065FC solid 2px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    color:black;
}
#logements i:hover
{
    transform: scale(1.1);
}
/*MAIN*/
main
{
    display: flex;
    margin: 60px;
}
section
{
    position: relative;
    background: #F2F2F2;
    border-radius: 10px;
    padding: 20px;
}
#all_card
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#all_card a
{
    text-decoration: none;
    color: black;
}
#all_card em
{
    color: #0065FC;
}
#all_card:hover
{
    transform: scale(1.1);
}
.cannebiere
{
    margin-top: 60px;
    background: white;
    border-radius: 10px;
    padding: 5px;
}
#img_cannebiere
{
    background-image: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-size: contain;
    width: 210px;
    height: 125px;
    border-radius: 10px;
}
#titres_avis
{
    padding: 10px;
}